<div *ngIf="installation">

  <h2>{{ installation.name | uppercase }} Details</h2>
  <div><span>id: </span>{{installation.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="installation.name" placeholder="name"/>
    </label>
  </div>

</div>
