/* Application-wide Styles */
h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  background-color: #fab711;
  margin: 0 0 0 0;
  padding: 20px 20px 20px 20px;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 50%;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.somfy-header ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding-left: 200px;
    overflow: hidden;
    background-color: #485C74;
}

.somfy-header li {
    float: left;
    margin: 0 0 0 0;
}

.somfy-header li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font: 11px Arial, Helvetica, sans-serif;
}

.somfy-header li a:hover {
    background-color: #fab711;
}

.somfy-header .serv-e-go-header ul {
    background-color: #fab711;
}

.serv-e-go-header li a {
	padding: 35px 16px 35px 16px;
}

.somfy-header li a {
	padding: 5px 16px 5px 16px;
}
.somfy-header .active {
	font-weight: bolder;
}
