

<div class="somfy-header">
  <ul>
    <li><a href="http://www.google.com">Somfy Pro</a></li>
    <li><a href="http://www.somfy.com">Somfy.fr</a></li>
    <li><a class="active" href="http://www.apple.com">Serv-e-go</a></li>
  </ul>
</div>

<h1 >{{title}}</h1>
<app-installations></app-installations>
<app-messages></app-messages>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
