<h2>Mes installations</h2>
<ul class="installations">
  <li *ngFor="let installation of installations"
      [class.selected]="installation === selectedInstallation"
      (click)="onSelect(installation)">
    <span class="badge">{{installation.id}}</span> {{installation.name}}
  </li>
</ul>


<app-installation-detail [installation]="selectedInstallation"></app-installation-detail>
